.navbar-brand {

}

.navbar-brand h1 { /* Restaurant name */
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list hr {
  margin: 0;
}

#nav-list li {
  border-top: 1px solid #e7e7e7;
  /* border: 1px solid black; */
}

/* #nav-list li:nth-child(-n+2) {
  border-bottom: 0;
} */ 


#main-content h2 {
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 25px;
}

#tall-section h3 {
  font-weight: bold;
  margin-top: -10px;
}

.tall-section {
  background-color: #E5FFFB;
  padding: 10px;
}
